html {
    height: 100%;
  }

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}


main {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1, h2, h3, h4, p {
    color: darkslateblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





.home-image img{
    max-width: 300px;
    border-radius: 20px;
    align-self: center;
}

.project img{
    max-width: 100%;
    border-radius: 10px;
    border-style:solid;
    border-width: 10px;
    border-color: darkslateblue;
}

.skill-list{
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
}

.skill-list li{
    padding: 10px;
}

li {
    color: darkslateblue;
}


/* Nav Bar */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: lightblue;
    color: darkslateblue;
    padding: 0px 0px;
}



/* CSS for Contact Me */

.mail-list{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}
.contact-header{
    text-align: center;
}

.mail-list li{
    list-style: disc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.media-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.media-button a img{
    height: 50px;
}

/* CSS for nav styling */

.nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;    
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
  }


  /* CSS for page footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

.nav-button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: fit-content;
    margin: 0px 15px;
    padding: 15px, 0px;
    border-radius: 4px;
    font-size: large;
    text-align: center;
}

.nav-list a{
    margin: 0px, 12px;
}

.nav-button:hover{
    background-color: white;
    border-radius: 40px;
    /* padding: 5px; */
}

.logo{
    padding-left: 15px;
}

/* all LINK states formatting */

a:link {
    color: darkslateblue;
    text-transform: uppercase;
    text-decoration: none;
}
a:visited {
    color: darkslateblue;
}
a:active, a:hover {
    color: darkslategray;
}
input:focus {
    border: 1px solid #aaa;
}

/* CSS for button class */

.button{
    position: sticky;
    background-color: darkslateblue;
    padding: 5px, 7px;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.button a{
    color: lightblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover{
    width: 210px;
}

/* styling for the timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* actual timeLINE */
.timeline::after {
    content: ' ';
    position: absolute;
    width: 6px;
    background-color: darkslateblue;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color:lightcyan;
    width: 70%;
}

.right {
    left: 10%
}

/* circles on timeline */
.container::after {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -17px;
    background-color: darkslateblue;
    border: 4px solid lightblue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* arrows on containers */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* circle alignment */
.right::after {
    left: -16px
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  .home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    width: 50%;
    /* padding-bottom: 5vh; */
  }

  .home-hor-cont{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    gap: 2vw;
    
}

.home-vert-cont{
    height: 80%;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
}

.home-image .home-image-caption{
    background: rgba(255, 255, 255, 0.5);
    height: 50%;
}

.home-image img{
    height: 100%;
}

  .background1{
    width: 100%;
    height: 60vh;
    background-image: url(images/beach_background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 10%, 0%; */
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(images/background2.jpg);
    background-size: cover;
}

.section3 iframe{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.footer-extended{
    height: 15vh;
}

  .home-text{
    height: 80%;
    width: 100%;
    padding: 10vw, 5%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }

  .home-text p{
    padding: 15px;
  }

  .testimony-container{
    width: 90%;
    align-self: center;
    /* background: rgba(255, 255, 255, 0.0); */
    height: fit-content;
    display: flex;
    gap: 3%;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 50px;
  }

  .testimony-box{
    height: fit-content;
    background-color: rgba(173, 216, 230, 0.5);
    width: 30%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: #aaa;
  }

