html {
    height: 100%;
  }

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1, h2, h3, h4, p, li, a {
    color: darkslateblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background1 h1{
    color: white;
}

.home-image img{
    /* max-width: 300px; */
    border-radius: 15px;
    align-self: center;
}

.project img{
    max-width: 100%;
    border-radius: 10px;
    border-style:solid;
    border-width: 10px;
    border-color: darkslateblue;
}

.skill-list{
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
}

.skill-list li{
    padding: 10px;
}

li {
    color: darkslateblue;
}


/* Nav Bar */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: lightblue;
    color: darkslateblue;
    padding: 0px 0px;
}


/* CSS for Contact Me */
.mail-list{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}
.contact-header{
    text-align: center;
}

.mail-list li{
    list-style: disc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.media-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.media-button a img{
    height: 50px;
}

/* CSS for nav styling */

.nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;    
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
  }


/* CSS for page footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

.nav-button{
    font-family: brush-script-std, sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: fit-content;
    margin: 0px 15px;
    padding: 15px, 0px;
    border-radius: 4px;
    font-size: large;
    text-align: center;
}

.nav-list a{
    margin: 0px, 12px;
}

.nav-button:hover{
    background-color: white;
    border-radius: 40px;
    /* padding: 5px; */
}

.logo{
    padding-left: 20px;
    font-family: brush-script-std, sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* all LINK states formatting */

a:link {
    color: darkslateblue;
    text-transform: uppercase;
    text-decoration: none;
}
a:visited {
    color: darkslateblue;
}
a:active, a:hover {
    color: darkslategray;
}
input:focus {
    border: 1px solid #aaa;
}

/* CSS for button class */

.button{
    position: sticky;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 15px, 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    text-transform:none;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

  .home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    width: 50%;
    /* padding-bottom: 5vh; */
  }

  .home-hor-cont{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    gap: 2vw;

}

.home-vert-cont{
    height: 100%;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.75);
}

.home-image .home-image-caption{
    background: rgba(255, 255, 255, 0.75);
    margin: 10px;
}

  .background1{
    width: 100%;
    height: fit-content;
    background-image: url(images/beach_background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 10%, 0%; */
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(images/background2.jpg);
    background-size: cover;
}

.section3 iframe{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.footer-extended{
    height: 15vh;
}

  .home-text{
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
  }

  .home-text2{
    width: 85%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin: 10px;
    padding: 2.5%;
  }

  .home-text p{
    padding: 15px;
  }

  .service-container{
    width: 85%;
    align-self: center;
    /* background: rgba(255, 255, 255, 0.0); */
    height: fit-content;
    display: flex;
    gap: 3%;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;
  }

  .service-box{
    height: fit-content;
    align-self: center;
    background-color: rgba(173, 216, 230, 0.5);
    width: 100%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: #aaa;
    margin-bottom: 3%;
  }

.lobby-pic img{
    width: 100%;
    border-radius: 15px;
}